<!-- Menú -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/admin/citas">Citas en línea UAS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Buscar..." ng-model="buscar">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/admin/citas">
            <span class="glyphicon glyphicon-calendar"></span>
            Citas
          </a>
        </li>
        <li>
          <a href="#/admin/usuarios">
            <span class="glyphicon glyphicon-user"></span>
            Usuarios
          </a>
        </li>
        <li class="active">
          <a href="#/admin/administradores">
            <span class="glyphicon glyphicon-wrench"></span>
            Administradores
          </a>
        </li>
        <li>
          <a href="php/logout.php">
            <span class="glyphicon glyphicon-wrench"></span>
            Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Encabezado -->

<div class="row">
  <div class="col-md-12 main">
    <h1 class="page-header">
      <span class="glyphicon glyphicon-wrench"></span>
      Administradores 
      <small class="sub-header">
        {{ administradores.length }} elemento(s)
      </small>
      <span class="pull-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="limpiar()">
          <span class="glyphicon glyphicon-plus"></span>
          Agregar administrador 
        </button>
      </span>
    </h1>

    <!-- Alerta -->

    <div class="alert alert-{{ alertaColor }} alert-dismissible" role="alert" ng-show="alertaCuadro">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="text-center">
          <span class="glyphicon glyphicon-{{ alertaIcono }} "></span>
          {{ alertaTexto }}
        </p>
    </div>

    <!-- Listado -->

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <span class="glyphicon glyphicon-user"></span> 
              Nombre
            </th>
            <th>
              <span class="glyphicon glyphicon-envelope"></span> 
              Email
            </th>
            <th>
              <span class="glyphicon glyphicon-list-alt"></span> 
              Fecha de registro
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="administradores.length == 0">
            <td colspan="3" class="text-center">
              <p>
                No hay elementos registrados todavía.
                <span class="glyphicon glyphicon-inbox"></span>
              </p>
            </td>
          <tr>
          <tr ng-repeat="administrador in administradores | filter: buscar | orderBy: 'nombre'">
            <td class="text-capitalize">
              {{ administrador.nombre }}
              {{ administrador.apellidoPaterno }}
              {{ administrador.apellidoMaterno }}
            </td>
            <td class="text-lowercase">
              {{ administrador.email }}
            </td>
            <td>{{ administrador.registro | datetime }}</td>
            <td>
              <button class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="obtener(administrador.id)">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar administrador
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Formulario -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-hide="frmAgregarAdministrador">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-{{ iconoModal }}"></span>
          {{ nombreModal }} administrador 
        </h4>
      </div>
      <div class="modal-body">
        <form name="form" role="form">
          <div class="form-group">
            <label>Nombre <span class="text-danger">*</span></label>
            <input type="text" class="form-control" ng-model="campos.nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <label>Apellido Paterno <span class="text-danger">*</span></label>
            <input type="text" class="form-control" ng-model="campos.apellidoPaterno" placeholder="Apellido Paterno" required>
          </div>
          <div class="form-group">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" ng-model="campos.apellidoMaterno" placeholder="Apellido Materno">
          </div>
          <div class="form-group">
            <label>Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" ng-model="campos.email" placeholder="Email" required>
          </div>
          <div class="form-group" ng-if="nombreModal == 'Agregar'">
            <label>Contraseña <span class="text-danger">*</span></label>
            <input type="password" class="form-control" ng-model="campos.password" placeholder="Contraseña" required>
          </div>
          <div class="form-group" ng-if="nombreModal == 'Editar'">
            <label>Contraseña</label>
            <input type="password" class="form-control" ng-model="campos.password" placeholder="Contraseña">
          </div>
        <button class="btn btn-primary" type="submit" ng-if="nombreModal == 'Agregar'" ng-disabled="!form.$valid" ng-click="agregar(campos)">
          <span class="glyphicon glyphicon-plus"></span>
          Agregar administrador
        </button>
        <button class="btn btn-success" type="submit" ng-if="nombreModal == 'Editar'" ng-disabled="!form.$valid" ng-click="editar(campos)">
          <span class="glyphicon glyphicon-pencil"></span>
          Editar administrador
        </button>
      </form>
      </div>
    </div>
  </div>
</div>